<div class="col s3">
    <h5 class="center">Ordered Burgers</h5>
    <div class="collection">
        {{#each burgers}}{{#unless devoured}}
        <a href="#!" class="collection-item"><span class="badge">{{id}}</span><span
                class="badge">{{devoured}}</span>{{burger_name}}</a>
        {{/unless}}{{/each}}
    </div>
</div>
<div class="col s6">
    <div class="row orderBurger">
        <div class="input-field col offset-s3 s6">
            <input id="newBurger" type="text" class="validate">
            <label class="active" for="orderBurger">Enter Your Burger Order</label>
            <button class="btn btn-large waves-effect waves-light right blue-grey" type="submit" name="action">
                Order
            </button>
        </div>
    </div>
</div>
<div class="col s3">
    <h5 class="center">Eaten Burgers</h5>
    <div class="collection">
        {{#each burgers}}{{#if devoured}}
        <a href="#!" class="collection-item"><span class="badge">{{id}}</span><span
                class="badge">{{devoured}}</span>{{burger_name}}</a>
        {{/if}}{{/each}}
    </div>
</div>